<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower prediction</title>
</head>
<body>
    <h1>Welcome to my YouTube channel</h1>
    <form action="/redirect" method="POST">
        <!-- 'setosa', 'versicolor', 'virginica' -->
        <input 
            type="text" 
            name="sepal_length" 
            placeholder="sepal_length" 
            required
        />
        <input 
            type="text" 
            name="sepal_width" 
            placeholder="sepal_width" 
            required
        />
        <input 
            type="text" 
            name="petal_length" 
            placeholder="petal_length" 
            required    
        />
        <input 
            type="text" 
            name="petal_width" 
            placeholder="petal_width" 
            required    
        />
        <input type="submit" name="submit" />
    </form>
</body>
</html>